<div id="<%= dom_id client %>">
  <p>
    <strong>Client:</strong>
    <%= client.client_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= client.tel %>
  </p>

</div>
